@layer utilities {
  .footer-cloud::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 100% 40px;
    border-bottom-right-radius: 100% 40px;
    z-index: 1;
  }
}
